/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&disply=swap');

/* header styles */
header{
    padding: 10px 80px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
    font-size: 25px;
    /* color: black; */
}
nav li{
    list-style: none;
    margin-right: 34px;
    /* color: black; */
}
nav li a{
    text-decoration: none;
    color: #3a3a3a;
}
 nav h3{
    font-size: 35px;
    color: black;
}
/* banner styles */
.banner{
    display: flex;
    padding: 30px 30px 20px 10px;
    align-items: center;
    justify-content: space-between;

}
.banner-title h2{
    font-size: 45px;
    color: #3a3a3a;
}
.banner-title p{
    font-size: 20px;
    color: #3a3a3a;
}
.main-camera{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner-description{
    font-size: 18px;
    color: #3a3a3a;

}
.btn-primary{
    border-radius: 25px;
    background: rgba(236, 14, 125);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 35px;
}

/* main section styles */

.sponsors{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 5px;
    padding: 30px 150px;

}

/* main images styles */
.popular{
    text-align: center;
    font-size: 40px;
    color: #3a3a3a;
    margin-bottom: 10px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background-color: aliceblue; */
    margin: 100px;
    gap: 40px;


}
.img-content{
    padding: 10px 20px;
    border: 2px solid rgb(219, 217, 217);
    box-shadow: 5px 5px 5px 5px rgba(201, 197, 197);
    /* background-color: rgb(245, 243, 240); */
    
}
.img-content h3{
    font-size: 30px;
    color: #18191f;
    margin-bottom: 5px;
}
.img-content p{
    color: #787885;
    font-size: 20px;
    margin-top: 10px;
}

.container-product{
    display: flex;
    gap: 100px;
    padding: 50px 100px;
}
.product-title{
    font-size: 35px;
}
.content-pro p{
    color: #6C6C6C;
}
.btn-now{
    padding: 10px 30px;
    background: #E02C6D;
    border: none;
    color: white;
}
@media screen and (max-width: 576px) {
   
    nav{
        flex-direction: column;
        
    }
    
    
    .banner{
        flex-direction: column-reverse;
        padding: 0px;

    }
    .sponsors{
        flex-direction: column;
        margin-top: 0px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr); 
        align-items: center;
        margin-left: 6px;
    }
    
    .container-product{
        flex-direction: column-reverse;
        padding: 50px;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    
}