
/* header styles */
header{
    padding: 10px 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
    font-size: 25px;
    /* color: black; */
}
nav li{
    list-style: none;
    margin-right: 30px;
    /* color: black; */
}
nav li a{
    text-decoration: none;
}
 nav h3{
    font-size: 35px;
    color: black;
}
/* banner styles */
.banner{
    display: flex;
    padding: 30px 30px 20px 10px;
    align-items: center;
    justify-content: space-between;

}
.banner-title{
    font-size: 45px;
}
.main-camera{
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
}

.banner-description{
    font-size: 18px;
    color: grey;

}
.btn-primary{
    border-radius: 25px;
    background: rgba(236, 14, 125);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 35px;
}
@media screen and (max-width: 576px) {
    header,nav{
        padding: 20px;
        
    }
    nav{
        display: flex;
    }
    
    .banner{
        flex-direction: column-reverse;

    }
    .main-camera{
        width: 90%;
        background-size: 100%;
    }
    
}